    <div class="container justify-content-center">
        <div class="head" style="background-color: black;">
            <div class='card-header text-white' >

                <h3 class='card-title' style="text-align: center; font-weight: 500;">Your Trips</h3>
            </div> 
    </div>
    
    <div class='container mt-1 justify-content-center'>
        <div class='row mb-8 justify-content-center'>
            <div class=' col-10 justify-content-center' >
                <div class='row mt-5 justify-content-center'>
                    <div appColor class="col-lg-10" style = "margin-bottom: 15px;" *ngFor='let trip of tripInfo'>
                        <a class="link-card card" href = "" (click) = "viewDetails(trip)" routerLink = "/details">
                            <img class="card-img-top" src="{{trip.image}}" alt="image"/>
                            <div class="card-body" style="text-align: center;">
                                <div class="row d-flex justify-content-between">
                                    <div>{{trip.title}}</div>
                                </div>
                                <div class="mt-1 row d-flex flex-row justify-content-between">
                                    <div class="small text-muted">
                                        {{trip.description}}
                                    </div>
                                </div> 
                            </div>
                        </a>
                    </div>
                </div>
            </div>
       
        </div>
    </div>