<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [clickableIcons] = "false" [mapTypeControl]="true" [disableDefaultUI] = "true" [fitBounds]="true" (mapReady)="mapReady($event)">
    <a class="btn btn-light" id = "milesBanner" style="margin-right: 10px; color: black; width: 115px; margin-bottom: 1%;" (click) = "goToListTrips()" >
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg> 
          view list
    </a>
    
    <agm-marker  *ngFor = "let trip of allTrips" 
        [latitude]="trip.allMarkers[0][0]" 
        [longitude]="trip.allMarkers[0][1]"
        [agmFitBounds]="true"
        [markerClickable] ="true"
        (markerClick) = "openTripDetails(trip)">
    </agm-marker>
    <button id = "CreateTrip" class="toggle-button controls button btn btn-light btn-circle" style = "margin-bottom: 15px;" (click) = "goToCreateTrip()"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg></button>
      <button id = "centerOnLocation" class="toggle-button controls button btn btn-primary" style = "margin-bottom: 20px; margin-right: 10px;" (click) = "centerOnLocation()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass" viewBox="0 0 16 16">
        <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
      </svg></button>
</agm-map>