<br>
<div class='container justify-content-center' >

    <div class="head" style="background-color: black;">
        <div class='card-header text-white' >
            <h3 class='card-title' style="text-align: center;">Trip Details</h3>
        </div> 
    </div>
    
    
    <div class='login-body'>
        <form #tripForm='ngForm'>
            <div class='form-group'>
                <label for='title'>Title</label>

                <input 
                    class='form-control'
                    type='text'
                    id='title'
                    name='title'
                    #theTitle ='ngModel'
                    [ngClass]="{ 'is-invalid': theTitle.touched && theTitle.invalid}"
                    required
                    minlength="10"
                    [(ngModel)]='title'/>
                                <!-- error handling for title-->
                <span *ngIf='theTitle.touched && theTitle.invalid && theTitle.errors?.required' class='invalid-feedback'>
                    Title is required.
                </span>
                
                <span *ngIf='theTitle.touched && theTitle.invalid && theTitle.errors?.minlength' class='invalid-feedback'>
                    A minimum of 10 characters is required for the title.
                </span>
            </div>

            <!-- description-->

            <div class='form-group'>
                <label for='description'>Description</label>
                <input 
                    class='form-control'    
                    type="text-box" 
                    id='description'
                    name='description'
                    #theDescription='ngModel'
                    [ngClass]=" { 'is-invalid' : theDescription.touched && theDescription.invalid  }"
                    required
                    [(ngModel)]='description'/>
                    <span *ngIf='theDescription.touched && theDescription.invalid || theDescription.errors?.required' class='invalid-feedback'>
                        A description is required.
                    </span>
            </div>

            <!--image-->

            <div class='form-group'>
                <label for='image'>Image URL</label>
                <input 
                    class='form-control'    
                    type="text-box" 
                    id='image'
                    name='image'
                    #theImage='ngModel'
                    [ngClass]=" { 'is-invalid' : theImage.touched && theImage.invalid  }"
                    required
                    [(ngModel)]='image'/>
                    <span *ngIf='theImage.touched && theImage.invalid || theImage.errors?.required' class='invalid-feedback'>
                        An image is required.
                    </span>
            </div>

            <!-- submit button -->
            <div class='card-footer' style="text-align: center;">
                <button class='btn btn-primary' [disabled]='tripForm.invalid' style="background-color: black;" (click) = "handleSubmit()" routerLink = "/map">Save Trip</button>
            </div>
                
        </form>

    </div>

</div>
