
    <div class="card">
        
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" placeholder="John Doe" #name='ngModel'
                    [ngClass]="{ 'is-invalid': name.touched && name.invalid}"
                    required
                    [(ngModel)]='newName'>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" placeholder="john@example.com" #email='ngModel'
                    [ngClass]="{ 'is-invalid': email.touched && email.invalid}"
                    required
                    email
                    [(ngModel)]='newEmail'>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    <input type="text" class="form-control" placeholder="(123) 456-7890" #phone='ngModel'
                    [ngClass]="{ 'is-invalid': phone.touched && phone.invalid}"
                    required
                    [(ngModel)]='newPhone'>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-secondary">
                    <input type="button" class="btn btn-primary px-4" value="Save Changes" (click) = "updateUser()">
                </div>
            </div>
        </div>
          
